<ion-header>
  <ion-navbar>
    <ion-title *ngIf="!(user | async)?.uid">
      Login
    </ion-title>
    <ion-title *ngIf="(user | async)?.uid">
      Logout
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>

  <ion-card>
    <img src="assets/city-map.jpg" style="max-width:250px;margin: 0 auto;"/>
    <ion-card-content>
      <ion-card-title>
        Hours Tracker
      </ion-card-title>
      <p>Using hours tracker you are able to easily track hours based on location.</p>
      <p>You are able to signup via email, or connect a Google account.</p>
    </ion-card-content>
  </ion-card>
-
  <ion-footer>
    <ion-toolbar>
      <button ion-button block large icon-left *ngIf="!(user | async)?.uid" (click)="loginGoogle()">
        <ion-icon name="google"></ion-icon>
        Login via Google
      </button>
        <button ion-button block large icon-left *ngIf="!(user | async)?.uid" (click)="loginGoogle()">
          <ion-icon name="google"></ion-icon>
          Create account
        </button>
      <button ion-button block large icon-left *ngIf="(user | async)?.uid" (click)="logout()" color="danger">
        <ion-icon name="log-out"></ion-icon>
        Logout
      </button>
    </ion-toolbar>
  </ion-footer>

</ion-content>
