<ion-fab right middle>
  <button ion-fab (click)="setMarker()" *ngIf="!marker">
    <ion-icon name="pin"></ion-icon>
  </button>
  <button ion-fab (click)="removeMarker()" *ngIf="marker" color="danger">
    <ion-icon name="trash"></ion-icon>
  </button>
</ion-fab>
<ion-header>
  <ion-item>
    <ion-input id="search" type="text" name="search" placeholder="Search ..." [(ngModel)]="searchInput"></ion-input>
  </ion-item>
</ion-header>
<div #map id="map"></div>
<ion-footer *ngIf="marker">
  <ion-toolbar>
    <ion-item>
      <ion-range [(ngModel)]="location.radius" min="10" max="500" pin="true" (ionChange)="setCircleRadius(location.radius)">
        <ion-icon range-left small name="remove-circle"></ion-icon>
        <ion-icon range-right name="add-circle"></ion-icon>
      </ion-range>
    </ion-item>
  </ion-toolbar>
</ion-footer>
