<ion-header>
  <ion-navbar>
    <ion-title>User</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">
  <ion-card>
    <ion-item>
      <ion-icon [name]="providerIcon" item-start color="dark"></ion-icon>
	    <h2 *ngIf="user.displayName">{{ user.displayName }}</h2>
	    <h2 *ngIf="!user.displayName">{{ user.email }}</h2>
	    <p *ngIf="user.displayName">{{ user.email }}</p>
      <ion-avatar item-end *ngIf="user.photoURL">
	      <img [src]="user.photoURL" [alt]="user.displayName">
	    </ion-avatar>
    </ion-item>
    <ion-card-content>
      <p>You are currently logged in. Use below buttons if you would like to log out or erase all data.</p>
    </ion-card-content>
    <ion-list>
      <button ion-item block (click)="logout()">
				<ion-icon name="log-out" item-start></ion-icon>
				Logout
			</button>
      <button ion-item block (click)="deleteUser()">
				<ion-icon name="trash" item-start></ion-icon>
				Delete User
			</button>
    </ion-list>
	</ion-card>
  <ion-card>
    <ion-item>
      <ion-icon name="information-circle" item-start color="dark"></ion-icon>
      <h2>Policies</h2>
    </ion-item>
    <ion-card-content>
      <p>Your privacy is important to us. Please make sure to read both the privacy policy and terms &amp; conditions.</p>
    </ion-card-content>
    <ion-list>
      <button ion-item block (click)="gotoPolicyPrivacy()">
        <ion-icon name="eye" item-start></ion-icon>
        Privacy Policy
      </button>
      <button ion-item block (click)="gotoPolicyTOC()">
        <ion-icon name="eye" item-start></ion-icon>
        Terms &amp; Conditions
      </button>
    </ion-list>
  </ion-card>
  <ion-card *ngIf="!isMobileWeb">
		<ion-item>
	    <h2>{{ appName }}</h2>
      <p>Version: {{ appVersionNumber }}</p>
	  </ion-item>
	</ion-card>
</ion-content>
