<ion-header *ngIf="!recording">
  <ion-navbar>
    <ion-title>
      Hours
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-header *ngIf="recording">
  <ion-navbar color="secondary">
    <ion-title>
      {{ time }} - {{ companyName }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">
  <ion-spinner *ngIf="loading" class="center"></ion-spinner>
  <ion-list>
    <ion-item-sliding
      (ionSwipe)="deleteHour(item)"
      *ngFor="let hour of hours">
      <ion-item>
        <ion-avatar item-start class="ion-avatar-start">
          <ion-icon name="stopwatch"></ion-icon>
        </ion-avatar>
        <h2>{{hour.name}} <small>- {{hour.title}}</small></h2>
        <p>{{hour.startFormatted}} - {{hour.endFormatted}}</p>
        <p ion-button clear item-end>{{hour.durationFormatted}}</p>
        <p clear item-end *ngIf="hour.durationFormatted">{{hour.durationFormatted}}</p>
        <ion-avatar item-end *ngIf="!hour.durationFormatted" class="ion-avatar-end">
          <ion-icon name="clock"></ion-icon>
        </ion-avatar>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button (click)="editHour(hour)" color="primary">
          <ion-icon name="create"></ion-icon>
          Edit
        </button>
        <button ion-button expandable (click)="deleteHour(hour)" color="danger">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button disabled block large icon-left color="light" *ngIf="loading">
      <ion-spinner class="spinnerButton"></ion-spinner>
      Loading companies
    </button>
    <button ion-button disabled block large icon-left *ngIf="!recording && !companies && !loading">
      <ion-icon name="clock"></ion-icon>
      Add company to record
    </button>
    <button ion-button block large icon-left (click)="selectCompany()" *ngIf="!recording && companies && !loading">
      <ion-icon name="clock"></ion-icon>
      Record
    </button>
    <button ion-button block large icon-left (click)="stopRecording()" *ngIf="recording && !loading" color="danger">
      <ion-icon name="clock"></ion-icon>
      Stop recording
    </button>
  </ion-toolbar>
</ion-footer>
